{% extends "layout.html" %}
{% block titile %}
KnowBooks|Home
{% endblock %}

{% block body %}
<div class="section" >
    <div class="homecontainer"> 
        {% if session.log == true %}
        <img src="../static/book.jpeg" width="100" alt="">
        <h1 style="font-size: 2em;">KnowBooks</h1>
        <h1>Reading books is a productive habbit.</h1>
        <h1>Here, we are to help you search for books with genuine reviews and ratings. </h1>
        
        {%else%}
        <img src="../static/book.jpeg" width="100" alt="">
        <h1 style="font-size: 2em;">KnowBooks</h1>
        <h1>Reading books is a productive habbit.</h1>
        <h1>Here, we are to help you search for books with genuine reviews and ratings. </h1>
        <h1 style="color: hotpink;">Please register to KnowBooks to explore variety of books. </h1>
        <a href="/register"><button class="btn btn-lg btn-primary btn-block" type="submit" style="width:40ch;">Register</button></a><br>
        <a href="/login"><button class="btn btn-lg btn-primary btn-block" type="submit" style="width: 40ch;">Login</button></a>
        {%endif%}
    </div>
</div>

{% endblock %}